<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reporte-de-sanciones.component.css">
    <title>Reporte_Sanciones</title>
</head>
<body>
    <section class="container">
        <nav>
            <span class="logo">REGLAMENTO DE PRÉSTAMO</span>
        </nav>    
    </section>
    <section class="sol">
        <legend><h1>CONDICIONES DE PRÉSTAMO:</h1></legend>
        <br>
        <div>
            <p>La biblioteca, mediante el servicio de préstamo, facilitará el material que conserva a todos sus usuarios.</p>
            <br>
            <ul>
                <li>Para utilizar el servicio de préstamo es necesario estar en posesión del carnét de la biblioteca.</li>
                <li>Los materiales dispuestos para préstamo actualmente son libros físicos y cualquier material bibliográfico.</li>
                <li>Son materiales excluidos del régimen de préstamos obras de consulta, materiales de uso interno, etc.</li>
            </ul>
            <br>
            <p>Plazo y número de documentos en préstamo:</p>
            <ul>
                <li>Número máximo de documentos en préstamo: 3 documentos por día.</li>
                <li>El plazo de préstamo para cada documento es de 15 días para libros y de 1 semana para otro material de su elección.</li>
                <li>Respetar el plazo de préstamo, pudiendo ser renovado hasta por dos ocasiones seguidas, si es que el libro no ha sido solicitado por otro estudiante.</li>
            </ul>
        </div>
        <br>
        <section class="sola">
            <legend><h1>Renovaciones:</h1></legend>
            <br>
            <div>
                <p>Los préstamos pueden renovarse hasta dos veces por el mismo periodo, siempre que no existan reservas previas.</p>
                <p>La renovación puede realizarse en la biblioteca, del catálogo en línea o directamente a través del correo electrónico biblioteca@uleam.com</p>
                <p>No se renovarán documentos reservados, préstamos sobrepasados y aquellos que, por razones de demanda, establezca la biblioteca.</p>
            </div>
            <br>
            <legend><h1>Penalizaciones:</h1></legend>
            <br>
            <div>
                <p>Los lectores que no cumplan con los plazos de devolución, quedarán inhabilitados para hacer uso de los restantes servicios (excepto la consulta en sala) por tantos días como días de atraso hayan tenido (cada día de atraso = tres días de suspensión).</p>
                <p>La pérdida o deterioro de documentos implica la restitución de los mismos o el abono de la cantidad que establezca la biblioteca.</p>
                <p>La biblioteca se reserva el derecho de cancelar la inscripción del lector que no cumpla este reglamento.</p>
            </div>
        </section>
    </section>
</body>
</html>
